<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
</head>
<body>
    <h1>Face Authentication</h1>
    <form action="authenticate" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Enter yo    ur name: <input type="text" name="name" required><br><br>
        Input picture: <input type="file" name="image" accept="image/*" required><br><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>